# Python Tutorial

In [3]:
print("Premkamal")

Premkamal

In [4]:
age = 20

In [5]:
print(age)

20

In [6]:
first_name = "Sumit Nayan"

In [7]:
print(first_name)

Sumit Nayan

In [8]:
is_online = False

In [ ]:
name=input("What is your name?\n")

In [ ]:
print("Hello "+name)

In [ ]:
birth_year = input("Enter your birth year :")

In [ ]:
age = 2022 - birth_year

Here error comes because we are substracting string from int. When we receive data from input fn he takes as
string. So, we are substracting like this : 2022 - "1998".
To convert in int from string we use int() function.

In [ ]:
age = 2022 - int(birth_year)
print(age)

We have similar function for bool(), float(),str()

# Addition of String, Number & Float

In [ ]:
first = input("first : ")
second = input("second : ")
sum = first + second
print(sum)

#Here we are adding two string.,so answer of 10+10 will come as 1010.

In [ ]:
# We can't add string + float
# int() function can't convert from float string to int.

In [ ]:
first =float(input("first : "))
second = float(input("second : "))
sum = first + second
print(sum)

In [ ]:
print("Sum: " + sum)
#this will give error because we are addiing float + string

In [ ]:
#after converting int to str we can apply
print("sum : " + str(sum))

In [ ]:
course = 'Python for Begineers'
print(course.upper())
print(course)
# here course is an object we can apply many operation on course just after clicking course. . we will see many more exmaples fn like this.

String in python are object

In [ ]:
print(course.find('y'))
# Here index start from 0 as 1st letter and second as 1 and go on. So, this fn will find 'y' at position 1. Python is sensitive in capital and small so if we find 'Y', it will return -1.

print(course.find('Y'))

print(course.find('for'))

In [ ]:
print(course.replace('for','4'))

In [ ]:
print(course)
# These fn will not change original fn

In [ ]:
print(course.replace('x','54'))
# Here there will no change because there are no error

In [ ]:
print('Python' in course)

#?????

# Arithmetic Operation

In [ ]:
print(10+20)

In [ ]:
# Three types of division
print(10/3)
print(10//3)
print(10%3)         #Remainder

# ** means power
print(2**3)

In [ ]:
# Operator PRECEDENCE    BODMAS lgta hai

x = 10 + 3 * 2

print(x)

In [ ]:
x = 3 > 2    # It will give boolean result more like this >, >=, <, <=, ==, !=
print(x)

# Logical Operator

In [ ]:
price = 25

print(price>10)
print(price>10 and price<30)   # ALl must be true
print(price>10 or price<30)     # Only one true will give true result

In [ ]:
print(not price>10)  # not inverse b/w true and false

In [ ]:
temperature = int(input("Enter temperature"))

if temperature > 30 :
    print("It's a hot day")
    print("Drink plenty of water")  # position matter krta hai ki if ke andar kaun kaun aata hai
elif temperature > 20:
    print("It's a nice day")
elif temperature >10:
    print("It's bit cold")
else:
    print("It's cold")
print("Sumit Nayan")

In [ ]:
#Exercise
weight = input("Enter your weight :")
a = input("your weight is in : ")
a = a.upper()

if a=="K":
    print("Weight in Kg: "+weight)
elif a=="L":
    print("Weight in Lbs:"+weight)

# Lists

In [ ]:
names = ["Jhon", "Bob", "Sam" "Mary"]
print(names)
names = ["Jhon", "Bob", "Sam", "Mary"]
print(names)

In [ ]:
print(names[0])

In [ ]:
print(names[-1])
print(names[-2])   # -1 represent last letter of lists and go on

In [ ]:
names[0] = "Jon"  # we can use in this way also
print(names)

In [ ]:
print(names[0:3])   # It will give three element starting from index zero. and this will not change original list

print(names)

In [ ]:
numbers = [1,2,3,4,5]

numbers.append(6)   # will add in last & will change original list
print(numbers)

In [ ]:
# for inserting in b/w we will use insert fn

numbers.insert(0, -1)   #It changes the original list, so, running this program 2 times will add -1 2 times 
print(numbers)

In [ ]:
numbers.remove(3)   # will remove 3 from list 9not indes 3
print(numbers)

In [ ]:
numbers.clear()
print(numbers)

In [ ]:
numbers = [1,2,3,4,5]
print(1 in numbers)    # for checking 1 is in list or not and will return bool

In [ ]:
print(len(numbers))   # will tell length of list

# Loops

In [ ]:
i = 5
while i<=10:
    print(i)
    i=i+1

In [57]:
numbers = [1,2,3,4,5]

for item in numbers:    # it will start iteration from index zero and will go on till last
    print(item)

1
2
3
4
5

# Range function

In [64]:
numbers1 = range(5)   #generate numbers from zero to four
print(numbers1)

range(0, 5)

In [65]:
for i in numbers1:
    print(i)

0
1
2
3
4

In [66]:
numbers2 = range(5,10) #Generate number from 5 to 9
for i in numbers2:
    print(i)

5
6
7
8
9

In [68]:
numbers3 = range(5,20,2)   # will be at 2 step]
for i in numbers3:
    print(i)

5
7
9
11
13
15
17
19

In [70]:
for i in range(10,100,5):   # you don't need to  store range numbers in seprate variable
    print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

# Tuples

It's like linked list, but toples can't change once created

In [75]:
numbers4 = (1,2,3,3,2,2,3,3,3)
numbers[0] = 4   #it will be error because toples can't be changed.  If we click numbers4. then there we will not see fn like append, insert, remove. we can only count and index

TypeError: 'range' object does not support item assignment

In [80]:
print(numbers4.count(3))   #ye count kr ke dega 3 kitni baar aaya   & Index first occurance of element dega

5