# Python Tutorial

In [3]:
print("Premkamal")

Premkamal

In [5]:
age = 20

In [6]:
print(age)

20

In [7]:
first_name = "Sumit Nayan"

In [8]:
print(first_name)

Sumit Nayan

In [9]:
is_online = False

In [17]:
name=input("What is your name?\n")

What is your name?
Jhon F Kennedy

In [19]:
print("Hello "+name)

Hello Jhon F Kennedy

In [20]:
birth_year = input("Enter your birth year :")

Enter your birth year :1998

In [21]:
age = 2022 - birth_year

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Here error comes because we are substracting string from int. When we receive data from input fn he takes as
string. So, we are substracting like this : 2022 - "1998".
To convert in int from string we use int() function.

In [25]:
age = 2022 - int(birth_year)
print(age)

24

We have similar function for bool(), float(),str()

# Addition of string, Number, string

In [7]:
first = input("first : ")
second = input("second : ")
sum = first + second
print(sum)

#Here we are adding two string.,so answer of 10+10 will come as 1010.

first : 12
second : 15
1215

In [8]:
# We can't add string + float
# int() function can't convert from float string to int.

In [ ]:
first =float(input("first : "))
second = float(input("second : "))
sum = first + second
print(sum)